*{
    margin: 0;
    padding: 0;

}

.test{
    color:blue;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"),auto;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.box{
    padding: 20px;
    background-color: red;
    width: 120px;
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue;
}

